<div class="bg-gray-900 min-h-screen flex items-center justify-center relative">
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <form
    class="relative z-20   backdrop-blur-md w-[90%] sm:w-[60%] md:w-[40%] lg:w-[30%]  flex flex-col items-center justify-center gap-5 p-8 rounded-xl shadow-lg">
    <h1 class="text-white text-3xl font-bold mb-4">Login</h1>
    <div class="form-control m-5">
      <input type="text" required="">
      <label>
        <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span
          style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span
          style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span
          style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
      </label>
    </div>
    <div class="form-control mb-5">
      <input type="password" required="">
      <label>
        <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span
          style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span
          style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span
          style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
      </label>
    </div>
    <button
      class="bg-gray-700 text-white px-6 py-3 rounded-lg w-[80%] hover:bg-gray-800 transition duration-300 cursor-pointer">Login</button>
    <p class="text-white"><a routerLink="/sign-up">Do you want create account ?</a> </p>
  </form>

</div>
