<div class="bg-gray-900 min-h-screen flex items-center justify-center relative">
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <form
    class="relative z-20 backdrop-blur-md w-[90%] sm:w-[60%] md:w-[40%] lg:w-[30%] flex flex-col items-center justify-center gap-5 p-8 rounded-xl shadow-lg" (ngSubmit)="register()">
    <h1 class="text-white text-3xl font-bold mb-4 text-center">Create Account</h1>

    <div class="form-control w-full mb-5">
      <input  autocomplete="off" type="text" required class="w-full p-3 rounded-md bg-gray-800 text-white " [(ngModel)]="username" name="username">
      <label class="text-white">
        <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span
          style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span
          style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span
          style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
      </label>
    </div>

    <div class="form-control w-full mb-5">
      <input  autocomplete="off" type="email" required class="w-full p-3 rounded-md bg-gray-800 text-white " [(ngModel)]="email" name="email">
      <label class="text-white">
        <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">m</span><span
          style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span
          style="transition-delay:200ms">l</span>
      </label>
    </div>

    <div class="form-control w-full mb-5">
      <input  autocomplete="off" type="password" required class="w-full p-3 rounded-md bg-gray-800 text-white " [(ngModel)]="password" name="password">
      <label class="text-white">
        <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span
          style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span
          style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span
          style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
      </label>
    </div>

    <div class="form-control w-full mb-5">
      <input  autocomplete="off" type="password" required class="w-full p-3 rounded-md bg-gray-800 text-white " [(ngModel)]="confirmPassword" name="confirmPassword">
      <label class="text-white">
        <span> </span><span style="transition-delay:0ms">C</span><span style="transition-delay:50ms">o</span><span
          style="transition-delay:100ms">n</span><span style="transition-delay:150ms">f</span><span
          style="transition-delay:200ms">i</span><span style="transition-delay:250ms">r</span><span
          style="transition-delay:300ms">m</span>
        <span> </span><span style="transition-delay:350ms">P</span><span style="transition-delay:400ms">a</span><span
          style="transition-delay:450ms">s</span><span style="transition-delay:500ms">s</span><span
          style="transition-delay:550ms">w</span><span style="transition-delay:600ms">o</span><span
          style="transition-delay:650ms">r</span><span style="transition-delay:700ms">d</span>
      </label>
      @if (passwordMismatch) {
        <p class="error">Passwords do not match!</p>
      }
    </div>
    @if (errorMessage) {
      <p class="error text-white">{{ errorMessage }}</p>
    }
    <button
      class="bg-gray-700 text-white px-6 py-3 rounded-lg w-full hover:bg-gray-800 transition duration-300 cursor-pointer" type="submit">
      Create Account
    </button>
    <p class="text-white"><a routerLink="/sign-in">I'm alerady have account</a> </p>

  </form>
</div>

